.carousel-caption{
    backdrop-filter: blur(3px);
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}
.carousel-inner img {
    height: 24em;
    image-rendering: optimizeQuality;
    width: auto;
    background-size: contain;
    background-size: contain;
}

.contact-div {
    background-image: url("../images/mailbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.gradient-text {
    background: linear-gradient(to right, #042a66, #a6d9e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.gradient-text-2 {
    background: linear-gradient(to right, #ffffff, #0857d7, #042a66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.glass-btn {
    color: white;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
}
.glass-btn:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-gradient {
    background: linear-gradient(to right, #0857d7, #4daeef);
}
.btn-gradient:hover {
    background-color: dodgerblue;
}
.card-content {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(82, 142, 239, 0.5);
    box-shadow: 2px 2px 6px rgba(47, 43, 43, 0.4);
    border-radius: 5px;
}

#services {
    height: 100vh;
}